<div appCardHover>
    <div class="card m-1">
        <img height="350px" [src]="itemObj.image | default: '../../assets/images/default.png'" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">{{itemObj.name}}</h2>
            <h5 class="card-title" [hidden]="itemObj.hide">{{itemObj.price}}</h5>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus, omnis.</p>

            <a class="btn btn-primary" (click)="gotoCheckout(itemObj)">GoTo Cart</a>
        </div>
    </div>
</div>