<!-- item.component.html -->
<div class="card card--secondary m-2">
    <div class="m-2">
        <img width="50%" height="450px" src="{{itemObj?.image}}" />
    </div>
    <div class="p-3">
        <h4 class="card-title">{{itemObj?.name}}</h4>
        <p class="card-text">
            <strong>Price:</strong>
            {{itemObj?.price}}
        </p>
        <p class="card-text">{{itemObj?.description}}</p>
        <div class="row mt-3 p-2">
            <div class="col-5 p-0">
                <a class="btn btn-warning" (click)="addItem(itemObj)">Add To Cart
                </a>
            </div>
            <div class="col-5 p-0">
                <a class="btn btn-success" (click)="gotoCheckoutPage(itemObj)">Buy Now</a>
                <!-- <button></button> -->
            </div>
        </div>
    </div>
</div>