<!-- check-out.component.html -->
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Enter Billing Address to Checkout</h2>
        </div>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart summary</span>
                    <span class="badge bg-primary rounded-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Product name</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$12</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Second product</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$8</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Third item</h6>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <span class="text-muted">$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">−$5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>$20</strong>
                    </li>
                </ul>

                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </form>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Billing address</h4>

                <form (ngSubmit)="submit()" [formGroup]="myform" class="needs-validation" novalidate>
                    <div class="row g-3">
                        <fieldset class="row col-sm-12" formGroupName="name">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">First name</label>
                                <div class="form-group" [ngClass]="{
                                    'has-danger': firstName.invalid  && (firstName.dirty || firstName.touched),
                                    'has-success': firstName.valid  && (firstName.dirty || firstName.touched)
                                 }">
                                    <input type="text" class="form-control" formControlName="firstName">
                                </div>
                                <div class="form-control-feedback" *ngIf="firstName.invalid && firstName.dirty">
                                    FirstName is invalid
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Last name</label>
                                <div class="form-group" [ngClass]="{
                                    'has-danger': lastName.invalid  && (lastName.dirty || lastName.touched),
                                    'has-success': lastName.valid  && (lastName.dirty || lastName.touched)
                                 }">
                                    <input type="text" class="form-control" formControlName="lastName">
                                </div>
                                <div class="form-control-feedback" *ngIf="lastName.invalid && lastName.dirty">
                                    LastName is invalid
                                </div>
                            </div>
                        </fieldset>
                        <div class="col-12">
                            <label for="email" class="form-label">Email <span
                                    class="text-muted">(Optional)</span></label>
                            <div class="form-group" [ngClass]="{
                                'has-danger':email.invalid && (email.dirty || email.touched),
                                'has-success': email.valid && (email.dirty || email.touched)
                              }">
                                <input type="email" class="form-control" formControlName="email">
                                <!-- <pre>Dirty? {{ myform.controls.email.dirty }}</pre>
                                     <pre>Pristine? {{ myform.controls.email.pristine }}</pre>
                                     <pre>Touched? {{ myform.controls.email.touched }}</pre>
                                     <pre>Valid? {{ myform.controls.email.valid }}</pre> -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" formControlName="address">
                        </div>
                        <div class="col-sm-6">
                            <label for="country" class="form-label">Country</label>
                            <select class="form-select" id="country" formControlName="country">
                                <option>Select the country...</option>
                                <option *ngFor="let country of countries">{{country}}</option>
                            </select>
                        </div>
                        <button class="btn btn-success" type="submit">Continue to Checkout</button>
                    </div>
                </form>
                <pre>{{myform.value | json}}</pre>
            </div>
        </div>
    </main>
</div>