<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mobile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Tables</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Laptops</a>
    </li>
</ul>
<div class="container">
    <div class="grid grid--1X3 bg-color" style="margin-top: 2rem;">

        <!-- <span #header class="navbar-brand mb-0 h1">View Mobile Models</span> -->

        <!-- <h2>Total CartItems: {{cartItems.length}}</h2> -->

        <app-item *ngFor="let item of itemList" (emitItem)="getItem($event)" [itemObj]="item"></app-item>

        <!-- <div></div> -->
    </div>
</div>