<!-- home.component.html -->
<div class="container mt-5">
    <h1 style="text-align: center;">Welcome to the NexTrends shopping cart</h1>
    <h4 class="mt-5">
        <a routerLink="/gadgets">Click here</a> to navigate to the shopping page.
    </h4>
    <hr>
    <div class="mb-3">
        <label class="mb-3">Search your favorite Product</label>
        <input type="search" class="form-control" placeholder="Please enter search term" [formControl]="searchField">
        <hr />
        <ul>
            <li *ngFor="let search of searches">{{ search }}</li>
        </ul>
    </div>
</div>